# IDE/Editor files
.idea

# dotfiles
.dockerignore
.editorconfig

# logs
*.log

# compressed files
*.zip

# db files
*.data
.history

# target files
target/surefire-reports
target/classes
target/maven-status
target/maven-archiver
target/test-classes
